@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="colorlib-loader"></div>
<div id="page">
    @await Html.PartialAsync("~/Views/Home/PartialViews/Contact/_ContactTitle.cshtml")
    <div id="colorlib-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 animate-box">
                    <h2>Информация за контакти</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-info-wrap-flex">
                                <div class="con-info">
                                    <p><span><i class="icon-location-2"></i></span><br/> кв.Здравец, <br/>ул. Чипровци 32 <br/> ЛИДЛ</p>
                                </div>
                                <div class="con-info">
                                    <p><span><i class="icon-phone3"></i></span> <a href="tel://0878947135"><br/>+359 87 894 7135</a></p>
                                </div>
                                <div class="con-info col-6">
                                    <p><span><i class="icon-paperplane"></i></span> <a href="mailto:yogalatesdenyruse@gmail.com">yogalatesdenyruse<br/>@@gmail.com</a></p>
                                </div>
                                <div class="con-info">
                                    <p><span><i class="icon-globe"></i></span> <a href="#"><br/>yourwebsite.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 animate-box">
                    <h2>Свържете се с нас</h2>
                    <form action="#">
                        <div class="row form-group">
                            <div class="col-md-6">
                                <input type="text" id="fname" class="form-control" placeholder="Име">
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="lname" class="form-control" placeholder="Фамилия">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="email" class="form-control" placeholder="Имейл адрес">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="subject" class="form-control" placeholder="Заглавие">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Кажете нещо за нас"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Изпрати" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*TODO add Google Maps here*@
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>