@{
    ViewData["Title"] = "Home Page";
}
<div class="colorlib-loader"></div>
<div id="page">
    @await Html.PartialAsync("~/Views/Home/PartialViews/Index/_Aside.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/Index/_Prices.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/Index/_Services.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/Index/_Schedule.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/Index/_SuccessStories.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/Index/_Trainers.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/Index/_Classes.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/Index/_Events.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/Index/_Blog.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_ContactPointer.cshtml")
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>