@{
    ViewData["Title"] = "Home Page";
}
<div class="colorlib-loader"></div>
<div id="page">
    @await Html.PartialAsync("~/Views/Home/PartialViews/_Navbar.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/_Aside.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/_Prices.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/_Services.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/_Schedule.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/_SuccessStories.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/_Trainers.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/_Classes.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/_Events.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/_Blog.cshtml")
    @await Html.PartialAsync("~/Views/Home/PartialViews/_SubscribeNewsletter.cshtml")
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>