<nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a class="nav-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.jpg" class="img-fluid" alt="Responsive image" id="main_logo">
                    </a>
                    <div class="nav-toggle"></div>
                </div>
                <div class="col-md-10 text-right menu-1">
                    <ul>
                        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                        <li><a asp-area="" asp-controller="About" asp-action="About">За мен</a></li>
                        <li class="has-dropdown">
                            <a href="classes.html">Курсове</a>
                            <ul class="dropdown">
                                <li><a href="classes-single.html">Classes Single</a></li>
                                <li><a href="#">Cardio Classes</a></li>
                                <li><a href="#">Muscle Classes</a></li>
                                <li><a href="#">Fitness Classes</a></li>
                                <li><a href="#">Body Building</a></li>
                            </ul>
                        </li>
                        <li><a href="schedule.html">График</a></li>
                        <li><a href="event.html">Събития</a></li>
                        <li><a asp-area="" asp-controller="Blog" asp-action="Blog">Блог</a></li>
                        <li><a href="contact.html">Контакти</a></li>
                        <li class="btn-cta"><a asp-area="" asp-controller="Home" asp-action="Privacy"><span><i class="icon-lock"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>