
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="colorlib-loader"></div>
<div id="page">
    @await Html.PartialAsync("~/Views/About/PartialViews/_AboutTitle.cshtml")
    @await Html.PartialAsync("~/Views/About/PartialViews/_Video.cshtml")

    <div class="colorlib-trainers">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>Our Experienced Trainers</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(images/trainer-1.jpg)"></div>
                        <div class="desc">
                            <h3>Diego Carter</h3>
                            <span>Body Building Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(images/trainer-2.jpg)"></div>
                        <div class="desc">
                            <h3>Lea Young</h3>
                            <span>Body Building Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(images/trainer-3.jpg)"></div>
                        <div class="desc">
                            <h3>Alysha Reed</h3>
                            <span>Body Building Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(images/trainer-4.jpg)"></div>
                        <div class="desc">
                            <h3>George Cooper</h3>
                            <span>Body Building Trainer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_Contact.cshtml" />
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>