
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="colorlib-loader"></div>
<div id="page">
    @await Html.PartialAsync("~/Views/About/PartialViews/_AboutTitle.cshtml")
    <div id="colorlib-about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 row-pb-md animate-box">
                    <div class="video colorlib-video" style="background-image: url(images/img_bg_1.jpg);">
                        <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play3"></i></a>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 text-center animate-box">
                    <div class="about-wrap">
                        <div class="heading-2">
                            <h2>Robust Gym the leading fitness site</h2>
                        </div>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="colorlib-trainers">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>Our Experienced Trainers</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(images/trainer-1.jpg)"></div>
                        <div class="desc">
                            <h3>Diego Carter</h3>
                            <span>Body Building Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(images/trainer-2.jpg)"></div>
                        <div class="desc">
                            <h3>Lea Young</h3>
                            <span>Body Building Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(images/trainer-3.jpg)"></div>
                        <div class="desc">
                            <h3>Alysha Reed</h3>
                            <span>Body Building Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(images/trainer-4.jpg)"></div>
                        <div class="desc">
                            <h3>George Cooper</h3>
                            <span>Body Building Trainer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-subscribe" class="subs-img" style="background-image: url(images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>Subscribe Newsletter</h2>
                    <p>Subscribe our newsletter and get latest update</p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline qbstp-header-subscribe">
                                <div class="col-three-forth">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" placeholder="Enter your email">
                                    </div>
                                </div>
                                <div class="col-one-third">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Subscribe Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>