
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="colorlib-loader"></div>
<div id="page">
    @await Html.PartialAsync("~/Views/About/PartialViews/_AboutTitle.cshtml")
    @await Html.PartialAsync("~/Views/About/PartialViews/_Video.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_ContactPointer.cshtml")
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>