<div id="colorlib-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 intro-wrap animate-box">
                <div class="intro-flex">
                    <div class="one-third intro-img" style="background-image: url(images/intro-img-1.jpg)">
                        <div class="desc">
                            <h3>Body Building</h3>
                            <p>Which roasted parts of sentences fly into your mouth.</p>
                            <span class="price text-center">$25.00<br><small>/month</small></span>
                        </div>
                    </div>
                    <div class="one-third intro-img" style="background-image: url(images/intro-img-2.jpg)">
                        <div class="desc">
                            <h3>Yoga Program</h3>
                            <p>Which roasted parts of sentences fly into your mouth.</p>
                            <span class="price text-center">$25.00<br><small>/month</small></span>
                        </div>
                    </div>
                    <div class="one-third intro-img" style="background-image: url(images/intro-img-3.jpg)">
                        <div class="desc">
                            <h3>Aerobics Classes</h3>
                            <p>Which roasted parts of sentences fly into your mouth.</p>
                            <span class="price text-center">$25.00<br><small>/month</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>