<div class="colorlib-event">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                <h2>Upcoming Events</h2>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
            </div>
        </div>
        <div class="row row-pb-sm">
            <div class="col-md-4 animate-box">
                <div class="event-entry">
                    <div class="desc">
                        <p class="meta"><span class="day">19</span><span class="month">Apr</span></p>
                        <p class="organizer"><span>Organized by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="event.html">Special Training for Karate at Robust Gym</a></h2>
                    </div>
                    <div class="location">
                        <span class="icon"><i class="icon-map"></i></span>
                        <p>291 South 21th Street, Suite 721 New York NY 10016</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="event-entry">
                    <div class="desc">
                        <p class="meta"><span class="day">19</span><span class="month">Apr</span></p>
                        <p class="organizer"><span>Organized by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="event.html">World Yoga Day at Robust Gym</a></h2>
                    </div>
                    <div class="location">
                        <span class="icon"><i class="icon-map"></i></span>
                        <p>291 South 21th Street, Suite 721 New York NY 10016</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="event-entry">
                    <div class="desc">
                        <p class="meta"><span class="day">19</span><span class="month">Apr</span></p>
                        <p class="organizer"><span>Organized by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="event.html">1st Anniversary of Robust Gym</a></h2>
                    </div>
                    <div class="location">
                        <span class="icon"><i class="icon-map"></i></span>
                        <p>291 South 21th Street, Suite 721 New York NY 10016</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>