<div id="colorlib-services">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                <h2>Being fit is attractive</h2>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="flaticon-gym"></i>
                    </span>
                    <div class="desc">
                        <h3>Cardio Program</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="flaticon-weightlifting"></i>
                    </span>
                    <div class="desc">
                        <h3>Body Building</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="flaticon-martial-arts"></i>
                    </span>
                    <div class="desc">
                        <h3>Karate Classes</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="flaticon-gloves"></i>
                    </span>
                    <div class="desc">
                        <h3>Boxing Program</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>