<div class="col-md-10 col-md-offset-1 text-center animate-box">
    <div class="about-wrap text-justify">
        <div class="heading-2">
            <h2>Деница Филева</h2>
            <h3>Консултант по личностно развитие</h3>
        </div>
        <p>
            Казвам се Деница и съм консултант по креативно развитие за деца и възрастни. Помагам на хората да намерят своето призвание и да започнат работата на Мечтите си. Освен това съм преподавател по йога , занимавам се с медитация и Други интересни енергийни практики. Основател съм на Yogalates deny ruse”” и в момента водя проекта ” Как да станем приятели с нашият маймунски ум” (Stop
            your monkey brain).
        </p>
        <p>
            По професия съм инженер и имам Магистърска степен по Управление на Качеството. Работила съм като вътрешен одитор и консултант
            повече от 2 години, 4 години подред съм вземала участие в научни конференции и имам изкаран стаж в Румъния по специалността.
            Имам опит и удостоверение за професионално обучение на управление на Човешките ресурси към център за професионално обучение
            към ” Зенит 94″ ООД.
            Сертифициран преподавател по физически театър и танци от 2015 г. от проф. Александър Илиев  -“Кр. Сарафов”, София  България.
            От 2 години работя с деца и преподавам в училищата креативно развитие, като преподавам модерен балет и основни танцови техники,
            а в момента изучавам хореография във Варненски Свободен Университет “Черноризец Храбър”.
            Имам диплома като инструктор по йога към International American Aerobic Association/ учебен център “Jump”/- град София,България.
            Наскоро завърших обучението си, като Фитнес инструктор и Професионален Треньор / level 3 / – New Skills Academy International.
        </p>
        <p>
            Занимавам се с психология от 6 години и смело мога да твърдя, че това е моята страст в живота, креативност, развитие, баланс,
            осъзнаване. Това са темите, върху които съм съсредоточена и знам, че моята мисия е да предам нататък опита и методите които съм
            научила.
        </p>
        <p>
            Ще се радвам да създадем заедно чудото наречено живот!
        </p>
    </div>
</div>