<div id="colorlib-about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 row-pb-md animate-box">
                <div class="video colorlib-video" style="background-image:url('@Url.Content("~/images/img_bg_1.jpg")');">
                    <a href="https://www.youtube.com/watch?v=CBrg-Lfk0cE" class="popup-vimeo"><i class="icon-play3"></i></a>
                    <div class="overlay"></div>
                </div>
            </div>
            @await Html.PartialAsync("~/Views/About/PartialViews/_AboutMeText.cshtml")
        </div>
    </div>
</div>